@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland');
@import url('https://fonts.googleapis.com/css?family=Parisienne');
@import url('https://fonts.googleapis.com/css?family=Rochester|Yesteryear');

body{
	background-color: #F08080;
}


aside,nav,article{
	display: block;
}

.cont_lineas_izq{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: 2450px;
	position: relative;
	float: left;
	background-color: white;
}

.cont_lineas_der{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: 2450px;
	position: relative;
	float: right;
	background-color: white;
}




#linea_vertical_gris, #linea_vertical_blanca, #linea_vertical_verde, #linea_vertical_naranja, #linea_vertical_bronceado{
	position: relative;
	float:left;
	height: 100%;
	width: 15px;
	border: solid;
	margin-right: 10px;
}

#linea_vertical_bronceado{
color: #D2B48C;
background-color: #D2B48C;
}

#linea_vertical_blanca{
color: #FFFFFF;
background-color: #FFFFFF;
}

#linea_vertical_naranja{
color: #FF4500;
background-color: #FF4500;
}

#linea_vertical_verde{
color: #66CDAA;
background-color: #66CDAA;
}

#linea_vertical_gris{
color: #708090;
background-color: #708090;
}




#Cont_Logo{
	position: relative;
	float:left;
	margin-right: 0px;
	margin-left: 14px;
	margin-top: 35px;
	width: 130px;
	height: 190px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 10px;
    border-color: #708090;

}

#Logo{
	height: 180px;
	width: 120px;
	margin-left: 5px;
	margin-top: 5px;
}

.encabezado{
	height: 265px;
	width: 1024px;
	/*margin:auto;*/
	margin-left: 310px;
	background-color: #ffffe6;
	border-width: 1px;
	border-color: #cccccc;
	border-radius: 20px;
}

#tituloPrincipal{
	height: 40px;
	width: 400px;
	margin-left: 350px;
	margin-top: 0px;
	font-family: 'Mr De Haviland', cursive;
	font-size: 60px;
	font-weight: bold;
}

#descripcion{
	position: absolute;
	margin-top: 40px;
	margin-left: 170px;
	height: 100px;
	width: 820px;
	font-family: 'Parisienne';
	font-size: 29px;
}

#telefonoEncabezado{
	position: absolute;
	margin-top: 0px;
	margin-left: 850px;
	margin-right: 20px;
	font-size: 18px;
	width:140px;
	border:solid;

}

#celularEncabezado{
}

#direccionConsultorio{
	float:right;
	width:  250px;
	height: 20px;
	top:	80px;
	left: 1075px;
	border: solid;
}




h1,h2{
	width: 500px;
	margin-left: 50px;
	margin-top: 5px;
}

h1{
	float:left;
}

#horaActual{
	display: inline-block;
	height: 20px;
	width: 100px;
	color: white;
	text-align: bottom;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.masoterapia,.tituloTurnos{
	font-size: 32px;
	font-style: bold;
	font-family: 'Yesteryear', cursive;
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
}

#contImg01_contenedor,#contImg02_contenedor,#contImg03_contenedor{
	position: relative;
	margin-right: 0px;
	margin-left: 100px;
	margin-top: 35px;
	width: 800px;
	height: 400px;
    box-shadow: 0px 1px 10px 10px rgba(0,1,1,0.5);
    background-color: white;
    border-radius: 10px;
}

#Img_masoterapia{
	height: 400px;
	width: 800px;
}

.tituloTurnos{
	text-align: center;
}


#botonera{
	width:1024px;
	height:50px;
	margin:auto;
	margin-top: 5px;
}

ul{
 list-style-type: none;
}


ul li{
	position: relative;
	float:none;
	text-align: left;

}


#listaBotones{
	position: relative;
	list-style: none; 	
	width: 600px;
	height: 40px;
	margin: auto;
	top:5px;
}


#listaBotones li{
	float:left;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 170px;
}

#listaBotones li a{
	display: block;
	margin:0px;
	padding-top: 4px;
	padding-bottom: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: .3em;
	/*background-color: #c266ff;*/
	background-color: #20B2AA;
	color: #fff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
  	line-height: 1.5;

  	box-shadow: 5px 3px 7px rgba(179,179,179,0.5);
}


#listaBotones li a:hover {
	background-color: #66CDAA ;
}

.contenedor{
	height:2100px;
	width: 1024px;
	margin:auto;
	margin-top: 5px;
	align-content: left;
}

.articulo{
	height: 100%;
	width: 1024px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

#infoMasaje, #beneficiosRiesgos{
	float:left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	padding-bottom: 5px;
}

.titulo{
	font-size: 50px;
	font-family: 'Yesteryear';
}

.subtitulo{
	font-size: 32px;
	font-family: 'Yesteryear', cursive;
	text-align: left;
	margin-left: 50px;
}


aside, #asideDoctor{
	height: 100px;
	width:  100px;
	float: right;
	border:solid;
}

figure{
	position: relative;
	height: 100%;
	width: 100%;
	margin:0;
}


.infoCirugiaIzq,.infoCirugiaDer{
	border: solid;
	width: 500px;
	margin-top: 30px;
}

.infoCirugiaIzq{
	float: left;
}

.infoCirugiaDer{
	float: right;
}

.fotosCirugia{
	width: 180px;
	height: 150px;
}

.tarjeta {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    float: left;
    width: 185px;
    margin-top: 50px;
    margin-right: 14px;
    margin-left: 5px;
    height: 450px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;

}



.tarjeta:hover,.tarjetaInst:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.infoTarjeta,.infoTarjetaInst {
    padding: 2px 16px;
}


.tarjetaInst {
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 1vh; /* 1 */
  width: 1000px;
  height: 160px;
  margin-left: 10px;
  margin-top: 30px;
  border:solid;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffdcb9;
}

.fotosInst{
    float: left;
    width: 200px;
    height: 150px;
    padding-right: 10px;

}

 .textoInst,.tituloInst{
    flex: 1 1 auto;
    width: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }


#tablaTarifas{
	margin-left: 10px;
	margin-top: 30px;
	width:980px;
	background-color: -moz-radial-gradient(top, #DCDCDC , #808080);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#DCDCDC), to(#808080));
}



.piePagina{
	height: 50px;
	width: 1024px;
	border: solid;
	margin:auto;
	margin-top: 5px;
}


.mdl-card + .mdl-card {
  margin-top: 40px;
}


#footer_contacto{
	font-family: 'Parisienne';
	font-size: 60px;
	margin-left: 45%;
	margin-top: -50px;
	margin-bottom: 50px;
	color:white;
	width: 130px;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

#logoImg{
	width: 210px;
	height: 180px;
	margin-top: 0px;
	margin-left: 100px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #ff99ff;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

#footer_instagram{
	color:white;
	font-size: 14px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 210px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media handheld, screen and (min-width: 1024px) and (max-width: 1659px){

.cont_lineas_izq{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 2450px;
	width:18%;
	position: relative;
	float: left;
	background-color: white;
	margin-left: 0px;
}

.cont_lineas_der{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 2450px;
	width: 18%;
	position: relative;
	float: right;
	background-color: white;
}




#linea_vertical_gris, #linea_vertical_blanca, #linea_vertical_verde, #linea_vertical_naranja, #linea_vertical_bronceado{
	position: relative;
	float:left;
	height: 100%;
	width: 4.7%;
	border: solid;
	margin-right: 1.5%;
	margin-left: 1.5%;
}


.encabezado{
/*	height: 35%	;*/
	height: 250px;
	width: 60%;
	/*margin:auto;*/
	margin-left: 20%;
	background-color: #ffffe6;
	border-width: 1px;
	border-color: black;
	border-radius: 20px;
}

#tituloPrincipal{
	height: 80px;
	width: 50%;
	margin-left: 37%;
	margin-top: 0px;
	font-family: 'Mr De Haviland', cursive;
	font-size: 300%;
}

#descripcion{
	position: absolute;
	margin-top: 40px;
	margin-left: 14%;
	height: 100px;
	width: 40%;
	font-family: 'Parisienne';
	font-size: 20px;
}

#botonera{
	width:60%;
	height:50px;
	margin-left: 24%;
	margin-top: 5px;
}

#listaBotones{
	position: relative;
	list-style: none; 	
	width: 90%;
	height: 40px;
	margin: auto;
	top:5px;
}


#listaBotones li{
	float:left;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 25%;
}

#listaBotones li a{
	display: block;
	margin:0px;
	padding-top: 4px;
	padding-bottom: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: .3em;
	/*background-color: #c266ff;*/
	background-color: #20B2AA;
	color: #fff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
  	line-height: 1.5;

  	box-shadow: 5px 3px 7px rgba(179,179,179,0.5);
}

.contenedor{
	height:2100px;
	width: 60%;
	margin-left: 20%;
	margin-top: 5px;
	align-content: left;
}

.articulo{
	height: 100%;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

#contImg01_contenedor,#contImg02_contenedor,#contImg03_contenedor{
	position: relative;
	margin-right: 0px;
	margin-left: 100px;
	margin-top: 35px;
	width: 80%;
	height: 300px;
    box-shadow: 0px 1px 10px 10px rgba(0,1,1,0.5);
    background-color: white;
    border-radius: 10px;
}

#Img_masoterapia{
	height: 100%;
	width: 100%;
	border: solid;
}

#logoImg{
	width: 210px;
	height: 180px;
	margin-top: 0px;
	margin-left: 100px;
}


#Img_relax{
	width: 100%;
}


.tarjetaInst{
	width: 95%;

}

#tablaTarifas{
	width: 98%;
}

#horariosTarifas{
	width: 100%;

}


}



@media handheld, screen and (min-width: 600px) and (max-width: 1023px){

.cont_lineas_izq{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 2450px;
	width:14.8%;
	position: relative;
	float: left;
	background-color: white;
	margin-left: 0px;
}

.cont_lineas_der{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 2450px;
	width: 14.8%;
	position: relative;
	float: right;
}




#linea_vertical_gris, #linea_vertical_blanca, #linea_vertical_verde, #linea_vertical_naranja, #linea_vertical_bronceado{
	position: relative;
	float:left;
	height: 100%;
	width: 4.7%;
	border: solid;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

#linea_vertical_naranja{
	width:1%;
}

#linea_vertical_bronceado{
	width: 1%;
}

#linea_vertical_verde{
	width: 1%;
}


.encabezado{
/*	height: 35%	;*/
	height: 250px;
	width: 60%;
	/*margin:auto;*/
	margin-left: 20%;
	background-color: #ffffe6;
	border-width: 1px;
	border-color: black;
	border-radius: 20px;
}


#Cont_Logo{
	position: relative;
	float:left;
	margin-right: 0px;
	margin-left: 14px;
	margin-top: 5px;
	width: 70px;
	height: 110px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 10px;
    border-color: #708090;

}

#Logo{
	height: 95%;
	width: 95%;
	margin-left: 2px;
	margin-top: 2px;
}

#tituloPrincipal{
	position: absolute;
	height: 40px;
	width: 60%;
	align-content: left;
	margin-left: 20%;
	margin-top: 0px;
	font-family: 'Mr De Haviland', cursive;
	font-size: 200%;
	font-weight: bold;
}


#descripcion{
	position: absolute;
	margin-top: 100px;
	margin-left: 2%;
	height: 100px;
	width: 55%;
	font-family: 'Parisienne';
	font-size: 20px;
}

#botonera{
	width:60%;
	height:50px;
	margin:auto;
	margin-top: 5px;
}

#listaBotones{
	position: relative;
	list-style: none; 	
	width: 90%;
	height: 40px;
	margin: auto;
	top:5px;
}


#listaBotones li{
	float:left;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 25%;
}

#listaBotones li a{
	display: block;
	margin:0px;
	padding-top: 4px;
	padding-bottom: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: .3em;
	/*background-color: #c266ff;*/
	background-color: #20B2AA;
	color: #fff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
  	line-height: 1.5;

  	box-shadow: 5px 3px 7px rgba(179,179,179,0.5);
}

.contenedor{
	height:2100px;
	width: 60%;
	margin-left: 20%;
	margin-top: 5px;
	align-content: left;
}

.articulo{
	height: 100%;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

#infoMasaje, #beneficiosRiesgos{
	float:left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
	padding-bottom: 5px;
}


#contImg01_contenedor,#contImg02_contenedor,#contImg03_contenedor{
	position: relative;
	margin-right: 0px;
	margin-left: 35px;
	margin-top: 35px;
	width: 80%;
	height: 300px;
    box-shadow: 0px 1px 10px 10px rgba(0,1,1,0.5);
    background-color: white;
    border-radius: 10px;
}

#Img_masoterapia{
	height: 95%;
	width: 100%;
	border: solid;
}

#logoImg{
	width: 210px;
	height: 180px;
	margin-top: 0px;
	margin-left: 100px;
}


#Img_relax{
	width: 100%;
}


.tarjetaInst{
	width: 95%;

}

#tablaTarifas{
	width: 98%;
	font-size: 90%;
	margin-left: 4px;
}

#horariosTarifas{
	width: 100%;


}

.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}


}



@media handheld, screen and (max-width: 599px) {
.cont_lineas_izq{
display: none;
}

.cont_lineas_der{
display: none;
}




#linea_vertical_gris, #linea_vertical_blanca, #linea_vertical_verde, #linea_vertical_naranja, #linea_vertical_bronceado{
	position: relative;
	float:left;
	height: 100%;
	width: 4.7%;
	border: solid;
	/*margin-right: 1.5%;
	margin-left: 1.5%;*/
}

#linea_vertical_naranja{
	/*width:0.08%;*/
	display: none;
}

#linea_vertical_bronceado{
/*	width: 0.08%;*/
	display: none;
}

#linea_vertical_verde{
/*	width: 0.08%;*/
display: none;
}


.encabezado{
/*	height: 35%	;*/
	height: 250px;
	width: 80%;
	/*margin:auto;*/
	margin-left: 10%;
	background-color: #ffffe6;
	border-width: 1px;
	border-color: black;
	border-radius: 20px;
}


#Cont_Logo{
	position: relative;
	float:left;
	margin-right: 0px;
	margin-left: 37%;
	margin-top: 5px;
	width: 50px;
	height: 90px;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 10px;
    border-color: #708090;

}

#Logo{
	height: 95%;
	width: 95%;
	margin-left: 1px;
	margin-top: 1px;
}

#tituloPrincipal{
	position: relative;
	display: inline-block;
	height: 40px;
	width: 80%;
	align-content: left;
	margin-left: 10%;
	text-align: center;
	margin-top: 0px;
	font-family: 'Mr De Haviland', cursive;
	font-size: 150%;
	font-weight: bold;
}


#descripcion{
	position: absolute;
	margin-top: 2px;
	margin-left: 2%;
	height: 90px;
	width: 50%;
	text-align: center;
	font-family: 'Parisienne';
	font-size: 15px;
}

#botonera{
	position: relative;
	width:60%;
	height:150px;
	margin:auto;
	margin-top: 5px;
}

#listaBotones{
	float:none;
	display: block;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	left: 0px;
	margin-left: -10px;
	width: 90%;
}


#listaBotones li{
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	width: 80%;
	display: block;
}

#listaBotones li a{
	margin:0px;
	padding-top: 2px;
	padding-bottom: 15px;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	border: none;
	border-radius: .3em;
	/*background-color: #c266ff;*/
	background-color: #20B2AA;
	color: #fff;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
  	line-height: 1.5;

  	box-shadow: 5px 3px 7px rgba(179,179,179,0.5);
}

.contenedor{
	height:2400px;
	width: 60%;
	margin-left: 20%;
	margin-top: 5px;
	align-content: left;
}

.articulo{
	height: 100%;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

.titulo{
	font-size: 32px;
	font-family: 'Yesteryear';
}

.subtitulo{
	font-size: 23px;
	font-family: 'Yesteryear', cursive;
	text-align: left;
	margin-left: 20px;
}

#infoMasaje, #beneficiosRiesgos{
	float:left;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 10px;
	padding-bottom: 5px;
}


#contImg01_contenedor,#contImg02_contenedor,#contImg03_contenedor{
	position: relative;
	margin-right: 0px;
	margin-left: 60px;
	margin-top: 35px;
	width: 50%;
	height: 100px;
    box-shadow: 0px 1px 10px 10px rgba(0,1,1,0.5);
    background-color: white;
    border-radius: 10px;
}

#Img_masoterapia{
	height: 95%;
	width: 100%;
	border: solid;
}

#logoImg{
	width: 210px;
	height: 180px;
	margin-top: 0px;
	margin-left: 100px;
}


#Img_relax{
	width: 100%;
}


.tarjetaInst{
	width: 95%;
	margin-left: 2px;

}

#tablaTarifas{
	width: 98%;
	font-size: 90%;
	margin-left: 1px;
}

#horariosTarifas{
	width: 100%;


}


#footer_contacto{
	font-family: 'Parisienne';
	font-size: 30px;
	margin-left: 30%;
	margin-top: -50px;
	margin-bottom: 50px;
	color:white;
	width: 130px;
}

#logoImg{
	width: 100px;
	height: 90px;
	margin-top: 0px;
	margin-left: 10%;
}


/* Footer Center */

.footer-distributed .footer-center{
	width: 30%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 15px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 0px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:11px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #ff99ff;
	text-decoration: none;
	font-size: 11px;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

#footer_instagram{
	color:white;
	font-size: 12px;
}


.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}